@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body {
    margin: 0;
    color: #eee;
}
.container{
    width: 100vw;
    height: 100vh;
    position: relative;  
}

.main-background{
   width: 100%;
   height: 100%;
   object-fit: cover;
   filter: brightness(0.5);
}

.contents {
   width: 100%;
   height: 100%;
   position: absolute; 
   left: 0;
   top: 0;
   display: flex;
   flex-direction: column;
    justify-content: center;
}

.title {
    text-align : center;
    /* margin-top: 250px; */
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
}

.sub-contents{
    list-style: none;
    padding-left: 0;
    text-align: center;
    font-size: 18px;
    font-family: 'Gamja Flower', cursive;
}

.blank {
    margin: 100px;
}

.logo-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 7px;
}

.read-more{
    text-align: center;
    font-size: 27px;
    /* margin-bottom: 10px; */
    font-family: 'Gamja Flower', cursive;
}

.logos {
    text-align: center;
}

@media screen and (max-height: 768px) {
    .blank {
        margin: 50px;
    }
}